.dresscard{
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: none;
    box-shadow: 5px 10px 10px 10px rgb(80, 80, 80);
    border-radius: 10px;
    margin: 10px 0;
}
.dresscontent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    top: 75px;
    min-height: 100vh;
}
.dresscard img{
    height: 300px;
}
/*invert(50%) -> it is use to oposite color of background as compare to img
hue-rotate(100deg)  */
.square{
    display: block;
    margin: auto;
    width: 80%;
    background-color: rgb(196, 84, 84);
    height: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.dressbtn{
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin: 0 5px;
}
@media(max-width: 950px){
    .dresscontent{
        position: relative;
        top: 70px;
    }
}
@media(max-width: 750px){
    .dresscontent{
        position: relative;
        top: 0px;
    }
}
@media(max-width: 350px){
    .dresscontent{
        height: 100vh;
    }
}